{% extends "base.html.twig" %}

{% block title %} 
  About 
{% endblock %}

{% block body %}

  <h1>À propos</h1>

  <div> Créateur de l'application : TAIAR Illiesse dans le cadre d'une évaluation portant sur l'utilisation d'un framework php : Symfony</div>
  <div> Licences de codes utilisés ou recherches de solutions: 
    <ul>
      <li>Pour la fake data :</li>
      <ul>
        <li>https://github.com/fzaninotto/Faker</li>
        <li>https://packagist.org/packages/xylis/faker-cinema-providers</li>
        <li>https://symfony.com/doc/current/bundles/DoctrineFixturesBundle/index.html</li>
      </ul>
      <li>Utilisation EasyAdmin :</li>
      <ul>
        <li>https://symfony.com/doc/current/bundles/EasyAdminBundle/dashboards.html</li>
        <li>https://symfony.com/doc/current/bundles/EasyAdminBundle/fields.html#field-types</li>
        <li>https://symfony.com/doc/1.x/bundles/EasyAdminBundle/book/edit-new-configuration.html</li>
      </ul>
      <li>Utilisation du thème :</li>
      <ul>
        <li>https://bootswatch.com/sketchy/</li>
      </ul>
      <li>Encodage du password :</li>
      <ul>
        <li>https://symfony.com/blog/new-in-symfony-4-3-sodium-password-encoder</li>
        <li>https://stackoverflow.com/questions/54744836/symfony-4-easyadmin-how-to-encrypt-passwords</li>
        <li>https://symfony.com/doc/4.0/security/password_encoding.html</li>
      </ul>
      <li>Divers :</li>
      <ul>
        <li>https://www.youtube.com/watch?v=d8-C-U7Jn_c</li>
        <li>https://stackoverflow.com/questions/35973606/how-to-display-a-boolean-values-in-twig/35974141</li>
        <li>https://stackoverflow.com/questions/47983580/symfony-4-form-min-max-validation</li>
        <li>https://stackoverflow.com/questions/59240233/symfony-4-cannot-autowire-argument-manager-of-it-references-interface-do</li>
      </ul>
    </ul>
  </div>
  
{% endblock %}